@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

$font-rubik: Rubik, sans-serif;

// COLORS
$dark-blue: #334253;
$grayish-blue: #67727E;
$moderate-blue: #5357B6;
$light-grayish-blue: #C5C6EF;
$very-ligth-gray: #F5F6FA;
$white: #FFFFFF;
$soft-red: #ED6368;
$pale-red: #FFB8BB;


//BREAKPOINTS
$breakpoint-small: 576px; 