@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

$font-rubik: 'Rubik', 'sans-serif';

// COLORS
$dark-blue: #334253;
$grayish-blue: #67727E;
$moderate-blue: #5357B6;
$light-grayish-blue: #C5C6EF;
$pale-red: #FFB8BB;
$very-ligth-gray: #F5F6FA;

//BREAKPOINTS
$breakpoint-small: 576px; 