@import '../../../../styles/global/index.scss';

.posts-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  
  &-responses {
    
    display: flex;
    background-color: $very-ligth-gray;

    margin-top: 20px;

    &-icon {

      display: flex;
      justify-content: center;
      width: 10%;
      max-width: 88px;
      background-color: none;

      .icon {
        width: 2px;
        height: 100%;
        background-color: $light-gray;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      
      width: 100%;
    }
  }
}

