@import '../../../../styles/global/index.scss';

.posts-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: solid 1px blue;
  
  &-responses {
    
    display: flex;
    background-color: $very-ligth-gray;
    border: solid 1px red;

    &-icon {

      display: flex;
      align-items: center;
      justify-content: center;
      width: 88px;
      background-color: none;

      .icon {
        width: 5px;
        height: 100%;
        background-color: $light-gray;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      border: solid 1px green;
      width: 100%;
    }
  }
}

