.post {
  display: flex;
  flex-direction: row;

  width: 100%;
  
  margin: 0;
  padding: 0;
  border: 0;
}

.post-likes-container {

  background-color: pink;
}

.post-message {
  width: 100%;
  border: solid 1px black;
}