@import '../../../../styles/global/index.scss';

.profile-box {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 16px;

  &-avatar {
    width: 42px;
    height: 42px;
  }

  &-username {
    font-weight: 500;
    font-family: $font-rubik;
    font-size: 16px;
    color: $dark-blue;

    &-you {
      display: inline-block;
      margin-left: 8px;
      padding: 1px 6px 3px;
      font-size: 13px;
      color: $white;
      background-color: $moderate-blue;
      border-radius: 2px;
      vertical-align: middle;
    }
  }
}
