.message-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  height: 32px;

  margin: 0;
  padding: 0;
  border: 0;
}

.message-header-message-info, .message-header-message-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;

  height: 32px;

  margin: 0;
  padding: 0;
  border: 0;
}

.message-header-message-info {
  justify-content: flex-start;
}

.message-header-message-actions {
  justify-content: flex-end;
}