.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  &-info {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}



.message-header-message-actions {
  justify-content: flex-end;
}