@import '../../../../styles/global/';

.message-textbox {
  display: flex;
  justify-content: space-between;


  width: 100%;
  height: 80%;

  padding: 10px 10px;
  
  &-avatar {
    width: 50px;
    height: 50px;
    margin-right: 16px;
  }

  &-text-area {
    background-color: white;
    border-radius: 10px;
    
    flex: 1 1;
    padding: 12px 12px;

    textarea {
      resize: none;
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      
      font-family: $font-rubik;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color: $grayish-blue;
    }
  }

  &-actions-area {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: 16px;
    max-width: 104px;

    button{
      align-self: start;
      height: 48px;
      width: 100%;
      border-radius: 8px;
      background-color: $moderate-blue;
      font-family: $font-rubik;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      color: white;
      border: none;
  
      transition: background-color 0.2s;
  
      &:hover {
        background-color: $light-grayish-blue;
        cursor: pointer;
      }
  
      &:active {
        background-color: $moderate-blue;
      }
    }

    span {
      font-family: $font-rubik;
      font-weight: 400;
      font-size: 12px;
      line-height: 1.5;
      color: $moderate-blue;

      a {
        font-size: 16px;
      }
    }
  }

}
